<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <script src="jquery.min.js"></script>
    <title>首页</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script>
        var flag = 0;
        function applyIp() {
            flag = 1;
            var userName = $("#userName").val();
            $.get("/homepage/applyIp?userName=" + userName, function (res) {
                $("#wenben").html(res);
            });
        }
        function useIp() {
            if (flag == 2) {
                alert("不可重复使用");
            } else {
                // requestInformation 使用改为1
                var userName = $("#userName").val();
                $.get("/homepage/useIp?userName=" + userName, function (res) {
                    //$("#wenben").html(res);
                });
                flag = 2;
                alert("使用成功");
            }

        }
        function dealIp() {
            //requestInformation 处置改为1 ，bridge_node 可用改为0
            var userName = $("#userName").val();
            $.get("/homepage/dealIp?userName=" + userName, function (res) {
                //$("#wenben").html(res);
            });
            alert("处置成功");
        }
    </script>
</head>
<body>
用户名：<input name="userName" id="userName"/>
<button onclick="applyIp()">申请</button>
<p id="wenben"></p>
<button onclick="useIp()">使用</button>
<button onclick="dealIp()">处置</button>
</body>
</html>
